/* Defining some earthy colors */
:root {
  --brown: #8b5a2b;
  --green: #9acd32;
  --olive: #808000;
  --tan: #d2b48c;
  --beige: #f5f5dc;
}

body {
  background-color: var(#f5f5dc); /* Using beige as the background color */
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: var(--brown); /* Using brown as the heading color */
  text-align: center;
  font-size: 80px;
  margin-top: 100px;
}

.buttons { /* Styling the div class for the buttons */
  text-align: center;
}

a {
  display: inline-block;
  padding: 15px 25px;
  margin: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

/* Using different colors for each button */
a:nth-child(1) {
  background-color: var(--green);
}

a:nth-child(2) {
  background-color: var(--olive);
}

a:nth-child(3) {
  background-color: var(--tan);
}

a:nth-child(4) {
  background-color: var(--brown);
}

/* Changing the button color when hovered */
a:hover {
  filter: brightness(85%);
}

/* Changing the button color when clicked */
a:active {
  filter: brightness(70%);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


a:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
